*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    background: #777777;
    color: rgb(110, 110, 110);
    font-family: 'Roboto';
    border: none;
    display: grid;
}

h1{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 700;
    color: rgb(110, 110, 110);
}

h2{
    font-weight: 700;
    color: #d64c4c;
    margin:0;
}

h3{
    margin: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(110, 110, 110);
}

h4{
    margin:0;
    font-size: .9em;
    font-weight: 400;
    color: rgb(110, 110, 110);
}
h5{
    margin:0;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    color: rgb(110, 110, 110);
}

footer{
    display: grid;
    justify-content: center;
    align-items: end;
    margin-bottom: 5px;
    font-size: 90%;
    font-weight: 400;
    height: 100%;
    align-self: end;
}

a{
    text-decoration: none;
    text-align: center;
}

a:hover{
    text-decoration: none;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

.tooltip {
    display: inline-block;
    padding-top: 5px;
    align-items: center;
  }

#addData{
    align-items: center;
  }

.tooltiptext {
    visibility: hidden;
    width: 120px;
    color: rgba(214, 76, 76, .8);
    text-align: center;
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 400;
    opacity: 0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}


#addData:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.container{
   background-color: #e5e5e5;
   margin-top: 110px;
   height: 700px;
   max-width: 1100px;
   border-radius: 10px;
   display: grid;
   padding: 0;
   width: 100%;
   margin-right: auto;
   margin-left: auto;

}

#header-index{
    margin-top: 5px;
    display: grid;
    justify-content: center;
    grid-row-gap: 10px;
    justify-items: center;
    text-align: center;
    height: 130px;
}

#logo{
    margin-top: 15px;
    max-height: 90px;
    width: auto;
}

.buttonlist{
    padding: 0;
    display: grid;
    grid-gap: 30px 50px;
    background-color: #f4ce93;
    height: 400px;
    grid-template-columns: repeat(2, 220px) ;
    grid-template-rows: repeat(3, 70px);
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    margin-left: 10em;
    margin-right: 10em;
    box-shadow: 4px 4px 2px rgba(165, 165, 165, 0.1)
}

.thinbutton{
    background-color: #f2af84;
    border: none;
    height: 2.5em;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: #f19274;
    height: 45px;
    font-size: 110%;
    color: rgb(110, 110, 110);
    box-shadow: 3px 3px 2px rgba(164, 139, 101, 0.2)
}

.thinbutton:hover{
    border-color: #ed5555;
    transition: .3s;
}

.fatbutton{
    grid-column-start: span 2;
    border: none;
    height: 65px;
    border-radius: 5px;
    background-color: #ed5555;
    color: #e5e5e5;
    font-weight: 400;
    font-size: 150%;
    text-transform: uppercase;
    padding:16px;
    box-shadow: 3px 3px 2px rgba(164, 139, 101, 0.2)
}

.fatbutton:hover{
    background-color: #d64c4c;
    transition: .3s;
    cursor: pointer;
}

#btnestrutura{
    grid-column-start: span 2;
    align-self: start;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: black;
}


/** PAGINA DO BANCO DE DADOS **/


.iconButton{
    border:none;
    font-size: 1.5em;
    margin-right: .2em;
    color:rgb(214, 76, 76, .6)
}

.iconButton:hover{
    color:rgb(214, 76, 76);
    transition: .3
}


#container-dados{
    grid-template-rows: 7% 88% 1fr;
}
#container-dados.blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}

#header-dados{
    display: grid;
    grid-template-columns: 6% auto 6%;
    grid-template-rows: repeat(1, 60px);
    align-content: center;
    align-items: center;
    background-color: #f19274;
    padding:1em;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#logoicone{
    max-height: 85%;
    width: auto;
    padding: .3em;
}

.menu{
    margin:1rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 12%);
    column-gap:20px;
}

.thinerbutton{
    width: 100%;
    border:none;
    text-align: left;
    background-color: #f19274;
    border-left: 4px solid #f4ce93;
    color:rgb(73, 73, 73);
}

.thinerbutton:focus{
    color: #d64c4c;
    font-weight: 700;
    border-color: #d64c4c
    
}

.thinerbutton:hover{
    border-color: #d64c4c;
}


#voltarindex{
    display: grid;
    justify-content: end;
}

#voltar{
    justify-self: right;
    color: #f4ce93;
    font-size: 2em;
}


.content{
    display: grid;
    grid-template-rows: 8% 92%;
    align-content: center;
    margin: 0 1em;

}

.content-header{
    display: grid;
    grid-template-columns: 115px 200px 1fr;
    grid-template-rows: 70%;
    align-content: center;
    justify-content: center;

}

.campobusca{
    display: grid;
    width: 300px;
    justify-self: right;
}

.yellowBox{
    background-color: #f4ce93;
    border-radius: 5px;
    border: none;
    color:rgb(73, 73, 73);
    text-align: center;
    box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.15);
    outline: none;
    
}

#inputSearch:focus {
    border: 2px solid #f19274;
    transition: .1s;
  }

.btnbusca{
    grid-column: 3 / 4;
    background-color: #f4ce93;
    border-radius: 5px;
    height: 100%;
    font-size: .9em;
    color: #f2b084;
    border:none;
    padding: 0;
    box-shadow: 2px 2px 2px rgba(165, 165, 165, 0.15)
}

.btnbusca:hover{
    border: 2px solid #f19274;
    transition: .1s;
    color:#f19274;
}

#query{
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
    background-color: rgb(202, 202, 202, .5);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 4px 4px 2px rgba(165, 165, 165, 0.1);
    overflow: scroll;
    overflow-x: hidden;
}

#personContainer{
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: row;
    grid-auto-rows: 100px;
    border-radius: 5px;

}

.box {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(3, 25%);
    grid-gap: .5em;
    height: 100%;
    padding: 7px;
    background-color: rgb(202, 202, 202);
    border-left: 4px solid rgb(241, 146, 116, .8);
    border-radius: 5px;
}

.box:hover .info{
    color:rgb(241, 146, 116, .8);
    transition: .3s;

}

.contatobox{
    grid-row: 2 / 3;
    align-self: end;
}
.contatoicone{
    padding-right: 1em;
    font-size: .8em;
}
.nome{
    grid-column: 1 / span 2
}

.info{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    justify-self: end;
    color: rgb(241, 146, 116, .35);
}

.pointer {cursor: pointer;}


/*POP UP  BD --------------------*/

.popup{
    display: grid;
    position: fixed;
    top: 20%;
    left:50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    padding: 15px;
}

.popup.active{
    top: 37%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popupBD{
    grid-template-rows: 8% 1fr;
    grid-gap: 10px;
    border: solid 3px #d64c4c;
}

.popupHeader{
    display: grid;
    grid-template-columns: 90% 1fr;
    padding-left: 10px;
    border:none;
    border-bottom: solid #d64c4c;
}

.nameEdit{
    display: inline-flex;
}

#deleteBtn{
    padding-left: 20px;
    align-self: flex-end;
    padding-bottom: 5px;
    font-size: 1.3em;
}

#deleteBtn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


#closeBtn{
    justify-self: end;
}

#infoClient{
    height: 700px;
    display: grid;
    grid-template-rows: 5% 1fr 6%;
}

#close{
    background-color: #e5e5e5;
}

#close:hover{
    color:#d64c4c;
}

#clientContent{
    display: grid;
    /* justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    /* grid-template-rows: repeat(auto-fill, minmax(250px, 1fr)); */
    /* grid-template-rows: 25% 1fr; */
    grid-gap: 15px;
    grid-auto-flow: dense;
    /* grid-auto-rows: auto; */
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 10px;
    /* grid-row: 2 / 3; */
}

.dataClient{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

.dataProjectClient{
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-gap: 15px;

}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}


.boxContent{
    display: grid;
    background-color: rgb(202, 202, 202);
    border-radius: 5px;
    padding: 5px;
    height: 150px;
    overflow-wrap: anywhere;
}

.perfilPopup .boxContent{
    grid-template-columns: 36% 1fr;
}

.contactPopup .boxContent{
    grid-template-columns: 30% 1fr;
}

.addressPopup .boxContent{
    grid-template-columns: 20% 1fr;
}

.popupBoxTitle{
    padding-bottom: 5px;
}

ul{
    margin: 0;
    padding: 0;
}

.imageBox{
    margin: 0;
    width: 100%;
    height: 15rem;
    padding: 0.4rem 1rem 0.75rem;
    border: solid 1px rgb(110, 110, 110);
    border-radius: 5px;
    display: grid;
    justify-self: stretch;

}

.imageBox img{
    width: 100%;
    height: 11rem;
    background-position: center center;
    margin: 0.8rem 0 0.7rem 0;
    border-radius: 5px;
}

.imageBox:hover{
    border-color: #f19274;
    border-width: 2px;
}

/*BOX CONTENT INFOMATION*/
.boxContent h4{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.boxContent h5{
    font-size: 15px;
}

/*perfil */

#cpfTitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#cpf{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

/*Contact */

#cellTitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#cellphone{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#emailTitle{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#email{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-transform: lowercase;
}

/*Adress */

#street{
    text-transform: capitalize;
}

#compTitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#num{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-transform: capitalize;
}

#districtTitle{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#district{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-transform: capitalize;
}

#cityTitle{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#city{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    text-transform: capitalize;
}

#cepTitle{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#cep{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}



/*FORM CSS-------------------------*/
#clientForm{
    background-color: rgba(217,109, 109);
    border-color: #e5e5e5;
}

.formAdd{
    display: grid;
    padding: 10px;
    margin-left: 2em;
    margin-right: 2em;

}

.formAdd label{
    color:#e5e5e5;

}

.inputWrite{
    border: none;
    border-radius: 5px;
    background-color: rgba(229, 229, 229, .8);
    height: 30px;
    font-size: 1em;
    color:rgb(110, 110, 110);

}

.inputWrite:focus{
    background-color: rgba(229, 229, 229);
    border-color:  rgba(217,109, 109);;

}

.form{
    display: grid;
    min-width: 300px;
    grid-gap: .8em;
    grid-template-rows: 20% 5% 20% 5% 32% 1fr;
}
.formPart{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 10px;

}
.formPair{
    display: grid;
    padding-right: 2.5em;
    align-content: end;
}


#formClientHeader{
    border-color: #f4ce93;

}

#formClientHeader h2{
    color: #f4ce93;
}

#formClientHeader .iconButton{
    color: #f4ce93;
    background-color: rgba(217,109, 109);
    font-size: 28px;
    justify-self: end;
}

#formClientHeader .iconButton:hover{
    transition: .2s;
    color:#f19274;
}


#formClient h3{
    color: #f2af84;
}

#formPart1{
    grid-row-start: 1;
    grid-row-end: 2;
    height: 45px;
}

#titleContact{
    grid-row-start: 2;
    grid-row-end: 3;
}

#formPart2{
    grid-row-start: 3;
    grid-row-end: 4;
    height: 45px;
}

#titleAdress{
    grid-row-start: 4;
    grid-row-end: 5;
}

#formPart3{
    grid-row-start: 5;
    grid-row-end: 6;
    display:grid;
    height: 45px;

}

.btnSubmit{
    grid-row-start: 6;
    grid-row-end: 7;
    justify-self: center;
    align-self: end;
}

#submit{
    border:none;
    height: 40px;
    width: 200px;
    min-width: 50px;
    border-radius: 5px;
    background-color: #f4ce93;
    color:rgb(110, 110, 110);
    font-size: 1.2em;
    text-transform: uppercase;
}

#submit:hover{
    background-color: #f19274;
    transition: .2s;
    color:rgba(229, 229, 229);

}


/*CLIENT ALERT*/

#formClient{
    display: grid;
}

.responseAlert {
    display: grid;
    width: 50%;
    height: 250px;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    background-color: rgba(229, 229, 229);
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-columns: 50% 50%;
    justify-items: center;
    grid-template-rows: 50% 50%;
}

.messageFailure{
    grid-column: 1/ espan 2;
    align-self: center;
}

.messageSuccess{
    grid-column: 1/ span 2;
    align-self: center;
}
.outBtn{
    grid-column: 2/3;
    align-self: center;
}

.btnAddNew{
    grid-column: 1/2;
    align-self: center;
}

.addAlert .fatbutton{
    background-color: rgba(229, 229, 229);
    border: solid 2px rgba(217,109, 109);
    color: rgba(217,109, 109);
    width: 80%;
    font-size: 1.2em;
    text-transform: capitalize;
}

.addAlert .fatbutton:hover {
    background-color: rgba(217,109, 109);
    color: rgba(229, 229, 229);
}



.alertMessage{
    display: grid;
    align-content: center;
    justify-content: center;

}


.addAlert h2 {
    color:rgb(110, 110, 110, .5);
    font-size: 1.8em;
}

.outBtnSuc{
    width: ;
    align-self: center;
}


/* DELETE ALERT ---------------*/

#deleteClientAlert h2 {
    color:rgba(229, 229, 229);
    font-size: 1.8em;
}

#deleteClientAlert{
    background-color: rgba(217,109, 109);
}

#deleteClientAlert .outBtn{
    background-color:  rgba(217,109, 109); 
    border: solid 2px  rgba(229, 229, 229);
    grid-column: span 2;
    width: 80%;
}

#deleteClientAlert .outBtn:hover{
    background-color:  rgba(229, 229, 229);
    color:rgba(217,109, 109);
}



/* Underline From Left */

  .hvr-underline-from-left {
    /*display: inline-block;*/
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: rgb(241, 146, 116, .8);
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }
  

/*PROJECT CONTAINER--------------------*/

#projectsContainer{
    display: grid;
    justify-content: start;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    grid-auto-flow: row;
    grid-auto-rows: 240px;
    border-radius: 5px;
}

.projectInfo {
    align-items: center;
    display: flex;
    justify-content: center;
}

.infoProject{
    padding-left: 15px;
}

.infoProject:hover{
    color:rgb(241, 146, 116, .8);
}

.projectInfo h3{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}


  /* PROJECT FORM----------------------- */


#formProjectHeader{
    border-color: #f4ce93;

}

#formProjectHeader h2{
    color: #f4ce93;
}

#formProjectHeader .iconButton{
    color: #f4ce93;
    background-color: rgba(217,109, 109);
    font-size: 28px;
    justify-self: end;
}

#formProjectHeader .iconButton:hover{
    transition: .2s;
    color:#f19274;
}


#formProject h3{
    color: #f2af84;
}

#formProject h3{
    color: #f2af84;
}


#projectForm{
    background-color: rgba(217,109, 109);
    border-color: #e5e5e5;
}

#formProject .form{
    grid-template-rows: 40% 5% 10% 5% 20% 1fr;
}

select{
    width: 100%;
}


input[type="file"] {
    font-size: 1em;

}


/*POPUP PROJECTS -----------------*/

#projectContent{
    display: grid;
    grid-gap: 15px;
    grid-auto-flow: dense;
    overflow: scroll;
    overflow-x: hidden;
    padding: 10px 10px;
    height: 630px;
    grid-template-rows: 30% 1fr;
}

.dataProject {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
}

#imageProject{
    display:grid;
    grid-template-rows: 5% 1fr;
}

#imageProj{
    width: 50%;
    height: 90%;
    border-radius: 10px;
    justify-self: center;
    align-self: end;
}

.infoProjectPopup .boxContent{
    grid-template-columns: 36% 1fr;
}

#projectContent h5{
    text-transform: capitalize;
}

/*Info */
#startTitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#start{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#finishTitle{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#finish{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#personNameTitle{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#nameComplete{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#personContactTitle{
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#personContact{
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}


/*Details */

#servicesTitle{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#services{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#priceTitle{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#price{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}




/*Adress */

#compTitleP{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#complementP{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#districtTitleP{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#districtP{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#cityTitleP{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#cityP{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}